@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: '"Press Start 2P"', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 60 90% 90%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 90% 90%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 90% 90%;
    --primary: 48 96% 50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 90% 90%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 48 96% 50%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 48 96% 50%;
    --chart-1: 48 96% 50%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 90% 90%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 90% 90%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 90% 90%;
    --primary: 48 96% 50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 90% 90%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 48 96% 50%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 48 96% 50%;
    --chart-1: 48 96% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
